<% include ./partials/header %>
<link href="https://getbootstrap.com/docs/4.2/examples/album/album.css" rel="stylesheet">
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">KITCHEN SYSTEM</h1>
            <p class="lead text-muted">EDITING IS STILL LEFT</p>
            <p>
                <a href="/list" class="btn btn-primary my-2">LIST</a>
                <a href="/add" class="btn btn-secondary my-2">ADD ITEM</a>
            </p>
        </div>
    </section>

</main>

<% include ./partials/footer %>